.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;

  &__input {
    appearance: none;
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: rgba($color: #000000, $alpha: 0.1);
    border-radius: 3px;
    cursor: pointer;
    z-index: 10;

    &:checked {
      // background-color: rgba($color: #06f20d, $alpha: 0.2);
      border: 1px solid #3f5e2a;
    }

    &:checked ~ .checkbox__image {
      display: block;
    }
  }

  &__image {
    display: none;
    width: 15px;
    height: 15px;
    position: absolute;
    z-index: 1;
    left: 3px;
  }

  &__label {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: #A6A6A6;
    cursor: pointer;
  }
}