.content {
  padding: 15px 0;
  flex: 1 1 auto;
  // background-image: url(../../assets/img/main.jpg);
  background: #333;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__error-info {
    margin: 100px auto;
    width: 500px;
    text-align: center;

    h2 {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    p {
      font-size: 20px;
    }
  }

  &__title {
    font-weight: 800;
    font-size: 38px;
    margin-top: 60px;
    margin-bottom: 50px;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;

    // @media (max-width: 1400px) {
    //   grid-template-columns: repeat(3, 1fr);
    // }

    // @media (max-width: 1060px) {
    //   grid-template-columns: repeat(2, 1fr);
    // }

    // @media (max-width: 730px) {
    //   grid-template-columns: repeat(1, 1fr);
    // }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 110%;
/* or 96px */

letter-spacing: 0.5px;
    color: #fffde4;
    width: 60%;
    cursor: pointer;
    text-shadow: 1px 0 2px #0c6e9e, 
                  0 2px 2px #0c6e9e, 
                  -2px 0 2px #0c6e9e, 
                  0 -2px 2px #0c6e9e;




    @media (max-width: 1260px) {
      .categories {
        width: 100%;
        overflow: auto;

        ul {
          width: 785px;
        }
      }

      .sort {
        padding-left: 20px;
        b {
          display: none;
        }
      }
    }

    @media (max-width: 760px) {
      .categories {
        ul {
          li {
            padding: 8px 20px;
          }
        }
      }
    }

    @media (max-width: 820px) {
      .categories {
        margin-top: 30px;
      }
      flex-direction: column-reverse;
    }
  }
}