@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import './variables';
@import './libs/normalize';

@import './components/all';


#root {
  width: 100vw;
  overflow-x: hidden;
  background: url(../assets/img/backgraund.jpg) center center no-repeat  fixed;
  background-size: cover;
}

.wrapper {
  // position: relative;
  display: flex;
  flex-direction: column;

  // width: calc(100vw - 100px);
  min-height: 92vh;
  // background-color: #fff;
  // margin: 20px auto;
  // background: url(../assets/img/backgraund.jpg) center center no-repeat  fixed;
  // background-size: cover;
  margin: 15px auto;
  border-radius: 10px;
  max-width: 1400px;

  @media (max-width: 645px) {
    width: calc(100vw - 30px);
    margin-top: 15px;
  }
}


