.navigationbar {

  &__wrapper {
    width: 100%;
    background: #FAFAFB;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
    justify-content: center;
    margin-bottom: 10px;
  }

  &__container {
    display: flex;

  }

  &__link {
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;

    &:hover {
      color: cadetblue;
      cursor: pointer;
    }

    &:nth-child(even) {
      cursor: default;
      color: black;
    }

    &:last-child {
      display: none;
    }
  }

}